doctype 
html(lang="es")
   head
        title My app
        meta(charset="utf-8")
        link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet")
        link(href="/public/api.css" rel="stylesheet")
   nav(class="large-padding black white-text")
        h1(class="golden-text p_left") YouCoin
        ul
            li 
             a(href="/app" class="right-space") Inicio
            li 
             a(href="/app/imagenes") BTC
            li
      
  body
    
    block contenido